.titulo {
    text-align: center;
    background-color: darkgray;
    height: 100px;
    padding: 10px;

}h1{
    text-align: center;
}
button {
    background-color: darkgrey;
    text-align: center;
    font-size: medium;
    border: none;
    
}
input {
    width: 100%;
    border: none;
}
.titulo {
    text-align: center;
}
.butao {
    text-align: center;
    background-color: darkgray;
    height: 100px;
    align-items:center
    
}