#superior {
background-color: rgb(231, 119, 216);
text-align: center;
border-radius: 50px;
width: 600px;
}
.inferior{
    background-color: rgb(250, 186, 218);
    text-align: center;
    border-radius: 40px;
    width: 600px;
}
.botao{
    margin-top: 15px;
    border: solid gray;
    border-radius: 10px;
    background-color: rgb(134, 66, 77);
    color: white;
}
 
